<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 custom-col">
    <div class="card">
      <div class="card-header"><h4 class="custom-title">Create new set</h4></div>
      <div class="card-block custom-block">
        <div class="card-text custom-text col-12">
          <form (ngSubmit)='addNewWord()' [formGroup]='newWord'>
            <input type="text" class="form-control custom-text-input" placeholder="Type foreign word..."
                [focus]='myFocusTriggeringEventEmitter'
                formControlName="foreignWord">
            <input type="text" class="form-control custom-text-input" placeholder="Translation..."
                formControlName="nativeWord">
              <button class="btn btn-primary btn-block" type="submit" [disabled]='!newWord.valid'>Submit</button>
          </form>
        </div>
      </div>
      <div class="card-footer custom-footer">
        <clr-stack-view>
          <clr-stack-block [clrSbExpanded]='activeList' [clrSbExpandable]='true' (click)='toggleActiveList()'>
            <clr-stack-label>Current Set <span class="badge badge-purple">{{ (wordList | async)?.length }}</span></clr-stack-label>
            <clr-stack-block *ngFor='let word of wordList | reverse | async'>
              <clr-stack-label>{{ word.foreignWord }}</clr-stack-label>
              <clr-stack-content>{{ word.nativeWord }}</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>
    </div>
  </div>
</div>
