<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink='/' class="nav-link custom-link-header">
        <clr-icon shape="layers" class="is-inverse"></clr-icon>
        <span class="title">Wordy</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink='/learn' routerLinkActive='active' class="nav-link custom-link">
          <clr-icon shape="note"></clr-icon>Learn
        </a>
        <a routerLink='/create' routerLinkActive='active' class="nav-link custom-link">
          <clr-icon shape="plus-circle"></clr-icon>Create
        </a>
      </section>
    </nav>
  </div>
</div>
