.nav-link.custom-link {
  width: 100%;
  margin: 0;
  padding: 15px;
  border-radius: 0;
  text-align: center;
  position: relative;

  &:not(:last-of-type):after {
    content: close-quote;
    width: 80%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 10%;
    background: rgb(85.5%, 85.5%, 85.5%);
  }

  clr-icon {
    margin-right: 10px;
  }

  &-header {
    $animateStartDistance: 1px;
    $animateEndDistance: -2px;
    margin-right: 18px;

    /deep/ svg .clr-i-outline {
      transition: transform .4s ease;

      &-path-1 { transform: translate(0, #{-$animateStartDistance}); }
      &-path-3 { transform: translate(0, #{$animateStartDistance}); }
    }

    &:hover /deep/ .clr-i-outline {
      &-path-1 { transform: translate(0, #{-$animateEndDistance}); }
      &-path-3 { transform: translate(0, #{$animateEndDistance}); }
    }

    .title {
      font-weight: 600;
      margin-left: 6px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}
