.row .custom {

  &-col {
    margin: 0 auto;
    max-width: 600px;
  }

  &-title {
    font-weight: 500;
    margin: 6px 0;
  }

  &-center {
    text-align: center;

    h2 {
      margin: 18px;
    }
  }

  &-block {
    padding-bottom: 30px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;

    .btn-group {
      margin: 0;
    }
  }

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-button {
      margin: 0;
      flex-shrink: 0;
    }

    &-input {
      width: 100%;
      padding: 18px 6px;
      margin-right: 24px;
    }
  }
}
