<div class="row">
  <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 custom-col">
    <div class="card">
      <div class="card-header"><h4 class="custom-title">Translate given word</h4></div>
      <div class="card-block custom-block">
        <div class="card-text custom-center">
          <h2>{{ showWordToGuess() }}</h2>
        </div>
        <div class="card-text custom-text">
          <input #word type="text" placeholder="Type translation..." class="form-control custom-text-input">
          <button class="btn btn-primary custom-text-button">Submit</button>
        </div>
      </div>
      <div class="card-footer custom-footer">
        <button type="button" class="btn btn-info"
          title="Switch language"
          (click)='toggleLanguage()'>
          <clr-icon shape="switch"></clr-icon>
        </button>
        <div class="btn-group">
          <button class="btn"
            [ngClass]='{"disabled": (currentId === 0)}'
            (click)='changeWord(-1)'>Prev</button>
          <button class="btn"
            [ngClass]='{"disabled": (currentId === wordList.length - 1)}'
            (click)='changeWord(1)'>Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
